/* styles.css */
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in; /* ปรับค่า transition เพิ่มเป็น 1000ms (หรือตามต้องการ) */
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 2000ms ease-in; /* ปรับค่า transition เพิ่มเป็น 1000ms (หรือตามต้องการ) */
}
.featured-block-image {
  width: 80px; /* กำหนดความกว้าง */
  height: auto; /* ความสูงจะปรับแต่ละด้านตามอัตราส่วนของรูปภาพ */
}
.navbar-brand {
  display: flex;
  align-items: center; /* จัดจุดในแนวตั้ง */
}

.logo {
  margin-right: 10px; /* ระยะห่างขวาของ logo กับข้อความ */
}
.carousel-caption {
  /* Add your desired styles here */
  font-size: 20px; /* Adjust the font size */
  /* You can add more styling properties as needed */
}
.custom-heading {
  font-size: 70px;
}

.custom-heading1 {
  font-size: 20px;
}

/* เพิ่มสไตล์ให้ footer */
.custom-h5 {
  font-size: 3.25rem; /* ปรับขนาดตามที่คุณต้องการ */
}

.circle-skyblue {
  width: 120px; /* กำหนดความกว้างของวง */
  height: 120px; /* กำหนดความสูงของวง */
  border-radius: 70%; /* กำหนดรัศมีของมุมของวงกลมเป็นครึ่งหนึ่งของความกว้างหรือความสูง */
  border: 3px solid skyblue; /* กำหนดขอบวงกลมที่มีความหนา 2px และสีแดง */
  display: flex; /* จัดเรียงเนื้อหาภายในวงกลมให้อยู่ตรงกลาง */
  justify-content: center; /* จัดให้เนื้อหาภายในวงกลมอยู่ตรงกลางแนวนอน */
  align-items: center; /* จัดให้เนื้อหาภายในวงกลมอยู่ตรงกลางแนวตั้ง */
  font-weight: bold; /* ทำให้ตัวหนังสือหนาขึ้น */

}
.circle-green {
  width: 120px; /* กำหนดความกว้างของวง */
  height: 120px; /* กำหนดความสูงของวง */
  border-radius: 70%; /* กำหนดรัศมีของมุมของวงกลมเป็นครึ่งหนึ่งของความกว้างหรือความสูง */
  border: 3px solid green; /* กำหนดขอบวงกลมที่มีความหนา 2px และสีแดง */
  display: flex; /* จัดเรียงเนื้อหาภายในวงกลมให้อยู่ตรงกลาง */
  justify-content: center; /* จัดให้เนื้อหาภายในวงกลมอยู่ตรงกลางแนวนอน */
  align-items: center; /* จัดให้เนื้อหาภายในวงกลมอยู่ตรงกลางแนวตั้ง */
  font-weight: bold; /* ทำให้ตัวหนังสือหนาขึ้น */

}
.circle-yellow {
  width: 120px; /* กำหนดความกว้างของวง */
  height: 120px; /* กำหนดความสูงของวง */
  border-radius: 70%; /* กำหนดรัศมีของมุมของวงกลมเป็นครึ่งหนึ่งของความกว้างหรือความสูง */
  border: 3px solid rgb(181, 181, 12); /* กำหนดขอบวงกลมที่มีความหนา 2px และสีแดง */
  display: flex; /* จัดเรียงเนื้อหาภายในวงกลมให้อยู่ตรงกลาง */
  justify-content: center; /* จัดให้เนื้อหาภายในวงกลมอยู่ตรงกลางแนวนอน */
  align-items: center; /* จัดให้เนื้อหาภายในวงกลมอยู่ตรงกลางแนวตั้ง */
  font-weight: bold; /* ทำให้ตัวหนังสือหนาขึ้น */

}
.circle-orange {
  width: 120px; /* กำหนดความกว้างของวง */
  height: 120px; /* กำหนดความสูงของวง */
  border-radius: 70%; /* กำหนดรัศมีของมุมของวงกลมเป็นครึ่งหนึ่งของความกว้างหรือความสูง */
  border: 3px solid orange; /* กำหนดขอบวงกลมที่มีความหนา 2px และสีแดง */
  display: flex; /* จัดเรียงเนื้อหาภายในวงกลมให้อยู่ตรงกลาง */
  justify-content: center; /* จัดให้เนื้อหาภายในวงกลมอยู่ตรงกลางแนวนอน */
  align-items: center; /* จัดให้เนื้อหาภายในวงกลมอยู่ตรงกลางแนวตั้ง */
  font-weight: bold; /* ทำให้ตัวหนังสือหนาขึ้น */

}
.circle-red {
  width: 120px; /* กำหนดความกว้างของวง */
  height: 120px; /* กำหนดความสูงของวง */
  border-radius: 70%; /* กำหนดรัศมีของมุมของวงกลมเป็นครึ่งหนึ่งของความกว้างหรือความสูง */
  border: 3px solid red; /* กำหนดขอบวงกลมที่มีความหนา 2px และสีแดง */
  display: flex; /* จัดเรียงเนื้อหาภายในวงกลมให้อยู่ตรงกลาง */
  justify-content: center; /* จัดให้เนื้อหาภายในวงกลมอยู่ตรงกลางแนวนอน */
  align-items: center; /* จัดให้เนื้อหาภายในวงกลมอยู่ตรงกลางแนวตั้ง */
  font-weight: bold; /* ทำให้ตัวหนังสือหนาขึ้น */

}

.text-container-skyblue {
  color: skyblue; /* กำหนดสีของตัวหนังสือ */
  text-align: center; /* จัดให้ตัวหนังสืออยู่กลางแนวนอน */
  font-size: 30px; /* กำหนดขนาดตัวหนังสือ */
}
.text-container-green {
  color: green; /* กำหนดสีของตัวหนังสือ */
  text-align: center; /* จัดให้ตัวหนังสืออยู่กลางแนวนอน */
  font-size: 30px; /* กำหนดขนาดตัวหนังสือ */
}
.text-container-yellow {
  color: rgb(181, 181, 12); /* กำหนดสีของตัวหนังสือ */
  text-align: center; /* จัดให้ตัวหนังสืออยู่กลางแนวนอน */
  font-size: 30px; /* กำหนดขนาดตัวหนังสือ */
}
.text-container-orange {
  color: orange; /* กำหนดสีของตัวหนังสือ */
  text-align: center; /* จัดให้ตัวหนังสืออยู่กลางแนวนอน */
  font-size: 30px; /* กำหนดขนาดตัวหนังสือ */
}
.text-container-red {
  color: red; /* กำหนดสีของตัวหนังสือ */
  text-align: center; /* จัดให้ตัวหนังสืออยู่กลางแนวนอน */
  font-size: 30px; /* กำหนดขนาดตัวหนังสือ */
}

.span {
  font-size: 16px; /* กำหนดขนาดตัวหนังสือของ <span> */
}

.sup-script {
  vertical-align: top; /* ให้ตัวหนังสือยกขึ้นไปที่ด้านบนของพื้นที่ */
}

.custom-heading1 {
  text-align: center; /* จัดการให้ข้อความอยู่กึ่งกลาง */
  margin-top: 1rem; /* ระยะห่างด้านบน */
  margin-bottom: 1rem; /* ระยะห่างด้านล่าง */
}
.text-center{
  text-align: center; /* จัดการให้ข้อความอยู่กึ่งกลาง */

}

.image-container {
  width: 100px;
  height: 100px;
}
.truncate-text {
  display: inline-block;
  width: 35%; /* กำหนดความกว้างของ element */
  white-space: nowrap; /* ป้องกันข้อความขึ้นบรรทัดใหม่ */
  overflow: hidden; /* ซ่อนข้อความที่เกินขนาด */
  text-overflow: ellipsis; /* ให้ข้อความที่เกินขนาดแสดงเป็น ... */
  
}
